@font-face {
    font-family: Avelar;
    src: url("../fonts/Avenir\ Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #CADBF1;
    color: #464B95;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 70px;
    font-family: Avelar;
}

.titulo, .nombre {
    font-size: 40px;
}

.link__pagina, .grupo {
    font-size: 20px;
}