@font-face {
    font-family: Avelar;
    src: url("../fonts/Avenir\ Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

html {
    width: 100vw;
}

.header {
    background-color: #B58A69;
    color: #BADA55;
}

.header__titulo {
    font-size: 40px;
    text-align: center;
    font-family: Avelar;
    font-weight: lighter;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav__link {
    display: block;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 0px;
    font-family: Avelar;
    width: 100px;
    text-align: center;
}

.nav__link:hover {
    background-color: red;
    color: #fff;
}

/* SECTION */

.section__container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    background-color: #DEE5DE;
    font-size: 20px;
    text-align: justify;
    font-family: Avelar;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.section__r1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__figure {
    width: 40%;
    height: 190px;
}

.section__img {
    display: block;
    width: 340px;
    height: 190px;
    object-fit: cover;
}

.section__texts {
    width: 60%;
    line-height: 1.2;
}

.section__parrafo {
    font-size: 20px;
}

.section__titulo {
    width: 400px;
    text-transform: uppercase;
    font-weight: lighter;
    word-spacing: -5px;
    font-size: 32px;
    margin-left: 50px;
}

.section__button {
    background-color: #5E5E4A;
    color: #fff;
    font-size: 15px;
    padding: 10px 5px;
    border: none;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 50px;
}

.section__button:hover {
    background-color: red;
    color: #fff;
    cursor: pointer;
}

/* ASIDE */

.aside {
    display: flex;
    flex-direction: column;
    background-color: #D7D7CB;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.aside__titulo {
    font-size: 40px;
    font-family: Avelar;
    font-weight: lighter;
    color: #000;
    text-align: center;
}

.aside__figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.aside__img {
    width: 30%;
    object-fit: cover;
}

/* FOOTER */

.footer {
    background-color: #5E5E4A;
    color: #E8E6E6;
    text-align: center;
    font-family: Avelar;
    font-weight: lighter;
    padding: 10px;
    font-size: 14px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 950px){
    .section__titulo {
        font-size: 25px;
        width: auto;
    }

    .section__parrafo {
        font-size: 18px;
    }

    .section__img {
        width: 290px;
        height: 150px;
    }

    .aside__titulo {
        font-size: 25px;
    }
}

@media screen and (max-width: 850px){
    .section__r1 {
        gap: 100px;
    }

    .section__titulo {
        font-size: 20px;
        margin-left: 0;
    }

    .section__parrafo {
        font-size: 16px;
    }

    .section__figure {
        width: 25%;
    }

    .section__texts {
        width: 50%;
    }

    .section__img {
        width: 230px;
        height: 150px;
    }

    .aside__titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px){
    .nav__list {
        flex-direction: column;
        align-items: stretch;
    }

    .nav__link {
        display: block;
        width: 100%;
    }

    .section__r1 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .section__titulo {
        text-align: center;
        margin-bottom: 20px;
    }

    .section__texts {
        font-size: 12px;
        width: 100%;
    }

    .section__figure {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__r2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__button {
        bottom: 0;
        left: 0;
    }
}